# Build cache
__pycache__/
env/
temp/

# Ignore database files
*.db
*.sql

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.dng
*.tif
*.tiff

# Ignore video files
*.avi
*.mp4
*.mov
*.mkv
*.3gp

# Additional file formats you might want to ignore
*.log
*.tmp
*.bin
*.npy

# Ignore all .code-workspace files 
*.code-workspace