# Build cache
__pycache__/
env/

## Ignore db files
settings.db
duplicates.db
processed_assets.db

## Ignore other files created on build
metadata.npy
faiss_index.bin

# Ignore all .code-workspace files
*.code-workspace